@font-face {
    font-family: "HindSiliguri400";
    src: url("../fonts/HindSiliguri400.ttf");
}

@font-face {
    font-family: "HindSiliguri700";
    src: url("../fonts/HindSiliguri700.ttf");
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0px auto;
    padding: 0px 20px;
    border: 1px solid black;
}


.header {
    padding: 57px 165px 106px 165px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    width: 112px;
}

.item {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style-type: none;
}

.item_link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 17.1px;
    color: #292830;
    font-family: "HindSiliguri400";
    transition: .5s;
}

.item_link:hover {
    transition: .5s;
    color: tomato;
}

.header_btn {
    width: 160px;
    height: 48px;
    border: 1px solid #FF7235;
    border-radius: 8px;
    background-color: transparent;
    font-size: 18px;
    font-weight: 400;
    line-height: 17.1px;
    font-family: "HindSiliguri400";
    cursor: pointer;
    color: #FF7235;
    transition: .5s;
}

.header_btn:hover {
    background-color: #FF7235;
    color: white;
    transition: .5s;
}

/* main code */
.main {
    padding: 0px 165px 211px 165px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_img {
    width: 538.2px;
    height: 478px;
}

.main_title {
    font-family: "HindSiliguri700";
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    margin-bottom: 20px;

}

.main_text {
    font-family: "HindSiliguri400";
    font-size: 24px;
    font-weight: 400;
    line-height: 38.81px;
    color: #BDBDBD;
    margin-bottom: 40px;
}

.main_btn_group {
    display: flex;
    align-items: center;
    gap: 24px;
}

.main_btn1 {
    width: 225px;
    height: 75px;
    font-family: "HindSiliguri400";

    border-radius: 8px;

    font-size: 24px;
    font-weight: 400;
    line-height: 38.81px;
    color: white;
    transition: .5s;
    background-color: #FF7235;
    border: 1px solid #FF7235;
    cursor: pointer;
}

.main_btn1:hover {
    background-color: transparent;
    color: #FF7235;
    transition: .5s;
}

.main_btn2 {
    font-family: "HindSiliguri400";
    font-size: 20px;
    font-weight: 400;
    line-height: 38.81px;
    color: #BDBDBD;
    cursor: pointer;
    transition: .5s;

    background-color: transparent;
    border: 1px solid transparent;
}

.main_btn2:hover {
    color: #FF7235;
    transition: .5s;
}

.contain2 {

    background-color: #FF7235;
    text-align: center;
    width: 1440px;
    height: 712px;
    padding: 165px 0px 165px 87px;
    margin: auto;




}



.img {
    width: 1110px;
    height: 625px;

    position: absolute;
    margin: -95px 0px 200px -590px;




}

.contain3 {
    border: solid black 1px;
    width: 1440px;
    height: 188px;


    margin: auto;
}

.uu {
    width: 159px;
    height: 32px;
    margin: 60px;


}

.contain4 {
    border: solid black 1px;

    display: flex;
    gap: 470px;
    margin: -10px 3110px auto;



}
.pp{
    margin: auto;
}
